In [1]:
expenses = [1200,1400,1700]

In [2]:
point = (5,6,9,10)

In [4]:
point[1]=8

TypeError: 'tuple' object does not support item assignment

In [5]:
def find_pe_and_pb(price, eps, book_value):
    pe = price/eps
    pb = price/book_value
    return pe, pb

In [6]:
pe_ratio, pb_ratio = find_pe_and_pb(100, 2, 4)

In [7]:
pe_ratio

50.0

In [8]:
pb_ratio

25.0

In [9]:
contacts = [('rachel', 8888999911), ('mona', 9123765198), ('joey', 8283671092)]

In [10]:
for contact in contacts:
    if contact[0]=='joey':
        print(contact[1])

8283671092

In [11]:
d = {
    'rachel': 8888999911,
    'mona'  : 9123765198,
    'joey'  : 8283671092
}
d

{'rachel': 8888999911, 'mona': 9123765198, 'joey': 8283671092}

In [12]:
d['joey']

8283671092

In [16]:
d['mohan']

KeyError: 'mohan'

In [17]:
d.get('mohan')

In [18]:
d.get('mohan', 0)

0

In [21]:
d['rachel'] = 1111122222
d

{'rachel': 1111122222, 'mona': 9123765198, 'joey': 8283671092}

In [22]:
d['satya']=7777766666
d

{'rachel': 1111122222,
 'mona': 9123765198,
 'joey': 8283671092,
 'satya': 7777766666}

In [23]:
del d['satya']
d

{'rachel': 1111122222, 'mona': 9123765198, 'joey': 8283671092}

In [24]:
'khan' in d

False

In [25]:
'rachel' in d

True

In [27]:
d = {
    'rachel' : {'phone':1234, 'address':'ntr statue'},
    'joey':{'phone':5678, 'address':'gandhi center'}
}

In [28]:
d['rachel']['address']

'ntr statue'

In [30]:
d = {
    'rachel' : 1111122222,
    'mona'   : 9123765198,
    'joey'   :8283671092
}
d

{'rachel': 1111122222, 'mona': 9123765198, 'joey': 8283671092}

In [32]:
for name in d:
    print(name,d[name])

rachel 1111122222
mona 9123765198
joey 8283671092

In [33]:
for name,number in d.items():
    print(name, number)

rachel 1111122222
mona 9123765198
joey 8283671092

In [34]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [35]:
d

{'rachel': 1111122222, 'mona': 9123765198, 'joey': 8283671092}

In [36]:
d.keys()

dict_keys(['rachel', 'mona', 'joey'])

In [37]:
list(d.keys())

['rachel', 'mona', 'joey']

In [38]:
d.values()

dict_values([1111122222, 9123765198, 8283671092])

In [39]:
d = {‘Luke’: 1994, ‘Boba’: 1989, ‘Kyle’: 1998, ‘Hann’: 1993}
print(d[‘Boba’ : ‘Kyle’])

SyntaxError: invalid character in identifier (3480282338.py, line 1)

# Exercises:

### 1.Create a list of your friends' names and now create a list of tuples. The tuple should contain the friend’s name and the length of the name. For Example: if someone’s name is Aditya, the tuple would be: (‘Aditya’, 6)

In [42]:
def list_of_tuples(friends_list):
    new_list = []
    for friend in friends_list:
        friend_tuple = (friend, len(friend))
        new_list.append(friend_tuple)
        
    return new_list

In [43]:
friends = ['pavan', 'ramya', 'pitty', 'navya', 'chinchu']
list_of_tuples(friends)

[('pavan', 5), ('ramya', 5), ('pitty', 5), ('navya', 5), ('chinchu', 7)]

In [45]:
friends = ['apples','guva', 'mangala','xx']
list_of_tuples(f)

[('apples', 6), ('guva', 4), ('mangala', 7), ('xx', 2)]

 ### 2. You and your wife argued about expenses last night. You both want to know who is spending more in a month. Now you both go to the Little Yoda he is a good python programmer. He suggested that both of you add an entry in a dictionary next time you spend money. So that you can have a clear picture of your expenses and plan to reduce them. Both dictionaries are as below-

    Your expenses 

Clothes - 1100

Shoes - 1000

Watch - 900

Mobile Recharge - 699

Petrol - 1980

    Your Wife’s expenses 

Mobile Recharge - 799

DTH recharge - 999

Clothes - 2310

Makeup - 3670

Shoes - 999

* Find out the total expenses for each of you.

* Find out who spending more

* Find out which thing you and your wife spending more

In [50]:
my_expenses = dict()
wife_expenses = dict()

In [60]:
# adding data to the dictionaries
my_expenses['Clothes'] = 100
my_expenses['Shoes'] = 1000
my_expenses['Watch'] = 900
my_expenses['Mobile Recharge'] = 699
my_expenses['Petrol'] = 1980

In [61]:
wife_expenses.update({
    "Mobile Recharge" : 799,
    "DTH recharge" : 999,
    "Clothes" : 2310,
    "Makeup" : 3670,
    "Shoes" : 999
})

In [62]:
my_expenses

{'Clothes': 100,
 'Shoes': 1000,
 'Watch': 900,
 'Mobile Recharge': 699,
 'Petrol': 1980,
 'Recharge': 699}

In [63]:
wife_expenses

{'Mobile Recharge': 799,
 'DTH recharge': 999,
 'Clothes': 2310,
 'Makeup': 3670,
 'Shoes': 999}

In [64]:
# little Yoda's Analysis

# finding total expenses
total = 0
for key in my_expenses:
    total += my_expenses[key]

my_expenses['Total'] = total

In [65]:
total = 0
for key in wife_expenses:
    total += wife_expenses[key]

wife_expenses['Total'] = total

In [66]:
print(f"Your Total Expenses are: {my_expenses['Total']}")

Your Total Expenses are: 5378

In [67]:
print(f"Your Wife's Total Expenses are: {wife_expenses['Total']}")

Your Wife's Total Expenses are: 8777

In [68]:
total = my_expenses['Total'] + wife_expenses['Total']
print(f"Both's Total Expenses are: {total}")

Both's Total Expenses are: 14155

In [69]:
# B. Finding who spend more
if my_expenses['Total'] > wife_expenses['Total']:
    print("You spent more than your wife.")
else:
    print("Your wife spent more than you")

Your wife spent more than you

In [70]:
# c. finding expensive thing
# If we can sort the dictionary in increasing order or decreasing order
# we can find it easily

def sort_the_dict(dictionary):
    # because we need to sord the dictionary according to the values
    sorted_dict = sorted(dictionary.items(), key=lambda kv:kv[1])
    
    return sorted_dict

In [71]:
sort_the_dict(my_expenses)

[('Clothes', 100),
 ('Mobile Recharge', 699),
 ('Recharge', 699),
 ('Watch', 900),
 ('Shoes', 1000),
 ('Petrol', 1980),
 ('Total', 5378)]

In [72]:
sort_the_dict(wife_expenses)

[('Mobile Recharge', 799),
 ('DTH recharge', 999),
 ('Shoes', 999),
 ('Clothes', 2310),
 ('Makeup', 3670),
 ('Total', 8777)]

Because last element will always be the total so we have to print the second last element

In [73]:
print("You spent more on: ")
sort_the_dict(my_expenses)[-2]

You spent more on:

('Petrol', 1980)

In [74]:
print("Your wife spent more on: ")
sort_the_dict(wife_expenses)[-2]

Your wife spent more on:

('Makeup', 3670)

# Thanking you!!!! Happy coding !!!!!